<header class="jumbotron">
  <h1 class="text-center">Cadastrar Fotos</h1>
</header>

<main class="container">
  <div class="row">
      <div class="col-sm-12">
        <p class="alert alert-success" *ngIf="mensagem">{{mensagem}}</p>
      </div>
    </div>
  <section class="row">
    <form (ngSubmit)="salvar()" class="col-sm-7">
      <div class="form-group">
        <label>Título</label>
        <input type="text" name="titulo"
          [(ngModel)]="foto.titulo"
          class="form-control">
      </div>
      <div class="form-group">
        <label>URL</label>
        <input type="text" 
          name="url"
          [(ngModel)]="foto.url"
          class="form-control">
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <textarea class="form-control"
          name="descricao" 
          [(ngModel)]="foto.descricao">
        </textarea>
      </div>

      <a routerLink="/listagem" class="btn btn-secondary mr-2">Voltar</a>

      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <aside class="col-sm-5">
      <h3 class="text-center">Preview</h3>
      <painel titulo="{{foto.titulo}}">
        <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
      </painel>
    </aside>
  </section>
</main>
