<header class="jumbotron">
  <h1 class="text-center">Cadastrar Fotos</h1>
</header>

<main class="container">
  <section class="row">
    <form (submit)="salvar($event)" class="col-sm-7">
      <div class="form-group">
        <label>Título</label>
        <input type="text" value="{{foto.titulo}}" class="form-control">
      </div>
      <div class="form-group">
        <label>URL</label>
        <input type="text" value="{{foto.url}}" class="form-control">
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <textarea class="form-control">{{foto.descricao}}</textarea>
      </div>

      <a routerLink="/listagem" class="btn btn-secondary mr-2">Voltar</a>

      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <aside class="col-sm-5">
      <!-- preview do cadastrooo -->
    </aside>
  </section>
</main>
